.header {
  max-width: screen;
  height: 40px;

  .header-top {
    display: flex;
    padding: 4px 48px;
    justify-content: flex-end;
    background-color: #f6f7f9;

    a {
      padding: 12px;
    }
  }

  .header-middle {
    display: flex;
    align-items: center;
    padding: 21px 48px;
    img {
      width: 110px;
      height: 30px;
    }
    display: flex;
    justify-content: space-between;
  }
  p {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #154686;
  }
  .header-bottom {
    padding: 8px 36px 36px 16px;
    display: flex;
    align-items: center;
    gap: 48px;

    .all-category {
      padding: 0px 12px;
      p {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }

    .categories {
      display: flex;
      align-items: center;

      a {
        color: #505254;
        padding: 0 16px;
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 2px solid transparent;
        transition: all 0.2s ease;

        &:hover {
          font-weight: bold;
          border-bottom-color: #505254;
        }

        &.active {
          color: #121416;
          font-weight: bold;
          border-bottom-color: #121416;
        }

        &:nth-child(6) {
          // 친환경
          color: #00b54a;

          &:hover {
            font-weight: bold;
            border-bottom-color: #00b54a;
          }

          &.active {
            color: #121416;
            font-weight: bold;
            border-bottom-color: #121416;
          }
        }
      }
    }
  }
}
