.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  @media (max-width: 768px) {
    gap: 24px;
  }
}
.TabContainer {
  display: flex;
  justify-content: center;
  width: 100dvw;
  gap: 16px;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.TabItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  p {
    font-weight: 700;
    font-size: 14px;
  }
}

.MainTabButton {
  width: 64px;
  height: 64px;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &.Active {
    border: 2px solid black;
  }
}

.SubTabSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Separator {
  width: 100dvw;
  height: 1px;
  background-color: #e0e0e0;
}

.SubTabButton {
  padding: 7px 16px;
  color: black;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;

  &:hover {
    border-bottom: 2px solid black;
  }

  &.Active {
    border-bottom: 2px solid black;
  }
}

@media (max-width: 768px) {
  .TabContainer {
    width: calc(100dvw - 32px);
    justify-content: flex-start;
  }
  .SubTabSection .TabContainer {
    width: 100dvw;
    padding-left: 16px;
    padding-right: 16px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
  }
  .SubTabButton {
    white-space: nowrap;
    flex-shrink: 0;
  }
}

.SelectedStatus {
  width: 100%;
}
