.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  position: relative;
  height: 210px;
  aspect-ratio: 1/1;
  @media (max-width: 768px) {
    height: 160px;
  }
}

.title {
  display: flex;
  justify-content: center;
  padding: 16px 18px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 24px;
  }
}
