.container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 24px;
  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
  }
}

.image {
  position: relative;
  width: 268px;
  height: 297px;
  img {
    border-radius: 8px;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 768px) {
    gap: 32px;
  }
  .top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    .title {
      display: flex;
      flex-direction: column;
      gap: 8px;
      h3 {
        font-weight: 700;
        font-size: 20px;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        color: #505254;
      }
    }
    h4 {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #fd914b;
    }
    button {
      padding: 14px 0px;
      width: 50%;
      border-radius: 8px;
      border: none;
      background-color: #154686;
      color: white;
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;

      &:disabled {
        background-color: #cccccc;
        color: #666666;
        cursor: not-allowed;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #f6f8fb;
  padding: 16px;

  @media (max-width: 768px) {
    position: absolute;
    padding: 0;
    bottom: -182px;
    left: -32px;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.bottom-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }
  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #292c2e;
  }
}

.bottom-button {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 40px;
  background-color: #fcec4f;
  border: none;
  border-radius: 8px;
  padding: 12px 21px;
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
