.Container {
  display: flex;
  justify-content: center;
}

.Image {
  aspect-ratio: 1/1;
  width: 102px;
  height: 102px;
  position: relative;
}

.Content {
  padding: 12px 24px;
  h3 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #505254;
  }
}

@media (max-width: 768px) {
  .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .Content {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 14px;
      line-height: 24px;
    }
    p {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
