.container {
  display: flex;
  justify-content: center;
  width: 344px; /*고정하면 안 될 거 같음*/
}

.image {
  width: 102px;
  height: 102px;
  position: relative;
}

.content {
  padding: 12px 24px;
  h3 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #505254;
  }
}
