
.tickets {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 64px;

  @media (max-width: 768px) {
    padding: 32px 0;
  }
}

.tabs {
  display: flex;
  justify-content: center;
}

.middle-image {
  position: relative;
  width: 100dvw;
  height: 300px; // 적절한 높이 설정
  margin: 72px 0px;
}

.famous {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 26px;
    }
  }
  padding-bottom: 72px;
}

.item-images {
  .web-items {
    display: flex;
    gap: 24px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .mobile-items {
    display: none;

    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 8px;
      max-width: 400px;
    }
  }
}

footer {
  :global(.footerW) {
    display: block;

    @media (max-width: 768px) {
      display: none;
    }
  }

  :global(.footerM) {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }
}
