.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.title {
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  @media (max-width: 768px) {
    display: none;
  }
}

.product-info {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 24px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 32px;
  }
}

.image-section {
  position: relative;
  width: 50%;
  aspect-ratio: 1/1;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.info-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.name {
  font-weight: 700;
  font-size: 20px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: #666;
  line-height: 1.6;
}
